{% extends 'main.html.twig' %}

{% block title %}{{ user.fullName }}'s profile{% endblock %}

{% block bodyContent %}
    <div class="profile">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-md-4">
                        <div class="profile-summary">
                            <div class="profile-header">
                                <div class="top">
                                    <span class="avatar">{{ user.username|first }}</span>
                                    {{ include("profile/components/follow-btn.html.twig") }}
                                </div>
                                <h5>{{ user.username }}</h5>
                            </div>
                            <div class="profile-footer">
                                {{ include("profile/components/follow-stats.html.twig") }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-8">
                        {{ include("post/list.html.twig", {"posts": posts}) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
