<header>
    <div class="container">
        <nav class="nav-container">

            <a href="{{ path("home") }}" class="logo"></a>

            <ul class="nav-list">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">
                        Explore
                    </a>
                </li>
            </ul>

            {% if app.user %}
                <a href="{{ path("profile.index", {username: app.user.username}) }}" class="profile">
                    <span class="avatar">{{ app.user.username|first }}</span>
                    <span class="name">{{ app.user.username }}</span>
                </a>
            {% else %}
                <div class="auth-cta">
                    <a href="{{ path("app_login") }}" class="btn btn-primary">Login</a>
                    <a href="{{ path("register") }}" class="btn btn-primary">Register</a>
                </div>
            {% endif %}

        </nav>
    </div>
</header>